// pagesLayout 的滚动条样式

.page-scrollbar {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(24, 160, 88);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #ededed;
    border-radius: 10px;
  }
}

// viewsLayout 的滚动条样式
.admin-scrollbar {
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 8px;
    height: 1px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }
  &::-webkit-scrollbar-track {
    background: var(--track-color);
    background: #ededed;
  }
}

// admin slider 的滚动条样式
.slider-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
  }
  &::-webkit-scrollbar-track {
    background: var(--track-color);
  }
}
