/**
 * @name 公共样式文件
 * @type 内置 .scss
 * @file 全局
 */

.page {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
}

.slot {
}

// 禁止选中文本
.not-select {
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}

.no-touch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 禁止拖动图片
.not-select-pic{
  pointer-events: none;
}
